<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<advancedcustomoptionshipping>
				<model>Rudracomputech\Advancedcustomoptionshipping\Model\Carrier\Advancedcustomoptionshipping</model>
				<active>0</active>
				
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
		
			</advancedcustomoptionshipping>
		</carriers>
	</default>
</config>
